export(fat)
export(flatRleList)
export(loadBedFile)
export(qugacomp)
export(rleBinning)
export(unifyStrand)
exportMethods(chisq)
exportMethods(contingencyCcoef)
exportMethods(cosineCoef)
exportMethods(cramerCoef)
exportMethods(crossTable)
exportMethods(dice)
exportMethods(jaccard)
exportMethods(mutualInformation)
exportMethods(pearsonCoef)
exportMethods(phiCoef)
exportMethods(simpson)
importMethodsFrom(IRanges,table)
